.painel{
    padding: 20px;
}

.interface{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.postar{
    display: flex;
    padding: 20px;
}

.postar button{
    padding: 20px;
    background-color: bisque;
    border: none;
    border-radius: 6px;
    font-size: 1.9rem;
    font-weight: 600;
    box-shadow: 6px 6px 2px black;
    transition: .7s;
}

.postar button:hover{
    cursor: pointer;
    color: rgb(255, 151, 24);
    transform: scale(1.1);
}

