.painel{
    padding: 20px;
}

.interface{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.postar{
    display: flex;
    padding: 20px;
}

.postar button{
    padding: 20px;
    background-color: bisque;
    border: none;
    border-radius: 6px;
    font-size: 1.9rem;
    font-weight: 600;
    box-shadow: 6px 6px 2px black;
    transition: .7s;
}

.postar button:hover{
    cursor: pointer;
    color: rgb(255, 151, 24);
    transform: scale(1.1);
}

.postar i{
    font-size: 2.8rem;
}

.postagens{
    border: 1px solid black;
    padding: 20px 10px;
    margin-top: 4vh;
}

.postagens h2{
    text-align: center;
}

.postagens .informacoes{
    display: flex;
    gap: 4vw;
}

.postagens .informacoes p{
    margin-top: 5vh;
}

.postagens .informacoes img{
    width: 15vw;
    height: auto;
}

